{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Welcome to Background Changer!</h1>

<p>Select a selfie and a new background to start.</p>

<form id="change-background-form" enctype="multipart/form-data">
    <label for="selfie">Select selfie:</label><br>
    <input type="file" id="selfie" name="selfie" accept="image/*" onchange="loadImage(event, 'selfie-preview')"><br>
    <img id="selfie-preview" style="max-width: 400px; max-height: 200px;"><br>

    <div class="background-selection">
        <label for="background">Select new background:</label><br>
        <input type="file" id="background" name="background" accept="image/*" onchange="loadImage(event, 'background-preview')"><br>
        <br>

        <label for="bg-color">Or choose a background color:</label><br>
        <input type="color" id="bg-color" name="bg_color" value="#ffffff"><br>
    </div>
    <img id="background-preview" style="max-width: 400px; max-height: 200px;">

    <label for="resize-option">Choose which to resize:</label><br>
    <select id="resize-option" name="resize_option">
        <option value="background">Background</option>
        <option value="selfie">Selfie</option>
    </select><br>

    <input type="submit" value="Change Background">
    <div class="submit-url" id="{{ url_for('change_background') }}" style="display:none"></div>
    <img id="result-image" src="" alt="Result image" style="display:none">
</form>
{% endblock %}