body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #333;
}

nav a {
    color: #f8f8f8;
    text-decoration: none;
    margin: 0 15px;
}

nav a.active {
    color: #4caf50;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6, p {
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}

form input[type="file"] {
    margin-bottom: 20px;
}

form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

form input[type="color"] {
    display: block;
    width: 20%;
    margin-bottom: 20px;
}

form .background-selection {
    display: flex;
    justify-content: flex-start;
}

/* Styles for the dropdown options */
select {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

select:focus {
    outline: none;
    border-color: #4caf50;
}

select option {
    padding: 10px;
}

/* style for result image */
#result-image {
    max-width: 100%;  
    height: auto; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);  
    border-radius: 10px;
    margin-top: 20px;
}

/* styles for footer */
footer {
    background-color: #333;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #f8f8f8;
}